.homepage-photo {
	background-image: url("ptown.jpg");
	background-position: center;
	background-size: cover;
	margin: 0;
	padding:0;
	padding-right: 10px;
	position: relative;
	z-index: 0;
	height:400px;
	width:100%;
}

.my-good-photo {
	background-image: url("my-photo.jpg");
	background-position: center;
	background-size: cover;
	margin: 0;
	padding:0;
	padding-right: 10px;
	position: relative;
	z-index: 0;
	height:500px;
	width:100%;
}

.post-img {
	height: 100%;
	width: 100%;
}

.post-side-img{
	width: 45%;
}

.post-top-photo {
	background-image: url("milky_way.jpg");
	background-position: center;
	background-size: cover;
	margin: 0;
	padding:0;
	padding-right: 10px;
	position: relative;
	z-index: 0;
	height:250px;
	width:100%;
}

.top-bar {
	background-color: rgba(0,0,255,0.4);
	position: fixed;
	width: 100%;
}

.container {
	color: white;
	margin: 0 auto;
    max-width: 48rem;
	font-family: dedecus;
	z-index: 0;
}

.top-bar .left-container h1{
	display: inline-block;
    text-align: left;
    float:left;
    margin:0;
    margin-top: -10px;
}

.top-bar .right-container h3 {
	display: inline-block;
    float: right;
    margin: 0;
}

.blog-post-header {
	margin-top: 20px;
	text-align: center;
	font-size: 150%;
	font-family: allerta;
}

.home-body {
	text-align: left;
	font-family: allerta;
	max-width: 48rem;
	margin: auto;
}

.about-body {
	text-align: left;
	font-family: allerta;
	max-width: 48rem;
	margin: auto;
}

.blog-post-body {
	text-align: left;
	font-size: 120%;
	max-width: 48rem;
	margin: auto;
}

.about-header {
	text-align: center;
	font-style: bold;
	font-size: 180%;
	font-family: allerta;
	max-width: 48rem;
	margin: auto;
}
.post-container {
	font-family: allerta;
	max-width: 44rem;
	margin: auto;
}

.post-link {
	display: inline;
	position: relative;
	float : left;
}

.post-date {
	display: inline;
	position: relative;
	float : right;
}

footer {
	/*position: fixed;*/
	font-family: allerta;
	max-width: 48rem;
	margin: auto;
    bottom: 0;
    width: 100%;
}

.left-container h1 a, .right-container h3 a {
	color: white;
	text-decoration: none;
}

@font-face {
	font-family: dedecus;
	src: url("dedecus.ttf");
}

@font-face {
	font-family: allerta;
	src: url("allerta_medium.ttf");
}